
// Path-frame handler

@rectframe-background: rgba(255, 255, 255, 0.3);
@rectframe-border: 2px solid #000;
@rectframe-handle-border: none;
@rectframe-handle-border-radius: 10px;
@rectframe-handle-height: 12px;
@rectframe-handle-width: 12px;

// Important to calc correct size
@pathframe-handle-border-width: 2px;

@resize-cursor: move;

@handle-height: 18px;
@handle-width: 18px;

@frame-vertexhandle-border: none;
@frame-vertexhandle-background: url(leaflet-larva.png) -78px -6px;
@frame-vertexhandle-height: 12px;
@frame-vertexhandle-width: 12px;