@import (reference) "includes/mixins.less";
@import  "includes/theme.less";

.llarva-pathframe {
	background: @pathframe-background;
	border: @pathframe-border;
	position: relative;
}

.llarva-pathframe-tl,
.llarva-pathframe-tm,
.llarva-pathframe-tr,
.llarva-pathframe-ml,
.llarva-pathframe-mm,
.llarva-pathframe-mr,
.llarva-pathframe-bl,
.llarva-pathframe-bm,
.llarva-pathframe-br {
	border: @pathframe-handle-border;
	height: @pathframe-handle-height;
	position: absolute;
	width: @pathframe-handle-width;
	.border-radius(@pathframe-handle-border-radius);
}