
// Path-frame handler

@pathframe-background: rgba(255, 255, 255, 0.5);
@pathframe-border: 1px solid #000;
@pathframe-handle-border: none;
@pathframe-handle-border-radius: 10px;
@pathframe-handle-height: 12px;
@pathframe-handle-width: 12px;

// Important to calc correct size
@pathframe-handle-border-width: 2px;

.llarva-pathframe-move {
	cursor: move;
}

.llarva-pathframe-move-tm,
.llarva-pathframe-move-ml,
.llarva-pathframe-move-mr,
.llarva-pathframe-move-bm {
	background: url(leaflet-larva.png);
	cursor: move;
}

.llarva-pathframe-move-mr {
	background-position: 0px 0px;
}

.llarva-pathframe-move-tm {
	background-position: -24px 0px;
}

.llarva-pathframe-move-ml {
	background-position: -48px 0px;
}

.llarva-pathframe-move-bm {
	background-position: -70px 0px;

}