
// Path-frame handler

@pathframe-background: rgba(255, 255, 255, 0.3);
@pathframe-border: 1px solid #000;
@pathframe-handle-border: none;
@pathframe-handle-border-radius: 10px;
@pathframe-handle-height: 12px;
@pathframe-handle-width: 12px;

// Important to calc correct size
@pathframe-handle-border-width: 2px;

@resize-cursor: move;

@handle-height: 18px;
@handle-width: 18px;

@verticesframe-handle-border: none;
@verticesframe-handle-background: url(leaflet-larva.png) -78px -6px;
@verticesframe-handle-height: 12px;
@verticesframe-handle-width: 12px;

@verticesframe-handle-shadow-background: url(leaflet-larva-shadow.png) -78px -6px;
@verticesframe-handle-shadow-height: 13px;
@verticesframe-handle-shadow-width: 13px;