doctype html

html
	head
		title Leaflet-larva: MoveHandler

		link(rel='stylesheet', type='text/css', href='leaflet/dist/leaflet.css')
		link(rel='stylesheet', type='text/css', href='leaflet-larva.css')
		link(rel='stylesheet', type='text/css', href='demo.css')

		script(type='text/javascript', src='leaflet/dist/leaflet-src.js')
		script(type='text/javascript', src='leaflet-larva.js')
		script(type='text/javascript', src='MoveHandler.js')

	body
		#map